[ req ]
default_bits           = 1024
days                   = 999
distinguished_name     = req_distinguished_name
attributes             = req_attributes
prompt                 = no

[ req_distinguished_name ]
C                      = CA
ST                     = ON
L                      = Toronto
O                      = My Company
OU                     = Client
CN                     = My Company Clients
emailAddress           = me@home.com

[ req_attributes ]
challengePassword              = A challenge password

